<div class="course">


  <div class="mat-elevation-z8 lessons-table-container">

    <div *ngIf="isLoading$ | async" class="spinner-container">

      <mat-spinner></mat-spinner>

    </div>

    <mat-table [dataSource]="dataSource" class="lessons-table">

      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef>userId</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.userId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>username</mat-header-cell>
        <mat-cell *matCellDef="let user" class="description-cell">{{user.username}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>firstName</mat-header-cell>
        <mat-cell *matCellDef="let user" class="duration-cell">{{user.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>lastName</mat-header-cell>
        <mat-cell *matCellDef="let user" class="description-cell">{{user.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef>gender</mat-header-cell>
        <mat-cell *matCellDef="let user" class="description-cell">{{user.gender}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>status</mat-header-cell>
        <mat-cell *matCellDef="let user" class="description-cell">{{user.status}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>


    <mat-paginator [length]="users?.length" [pageSize]="3"></mat-paginator>

  </div>


</div>






